[package]
name = "tun"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = 3
lto = true
strip = true

[dependencies]
nullnet-firewall = { git = "https://github.com/GyulyVGC/nullnet-firewall.git" }
listeners = "0.3.0"
tun-rs = { version = "2.7.5", features = ["async_tokio"] }
etherparse = "0.19.0"
#tun = { version = "0.8.4", features = ["async"] }
clap = { version = "4.5.53", features = ["derive"] }
tokio = { version = "1.48.0", features = ["net", "sync", "rt-multi-thread", "macros", "io-util", "time"] }
notify = "8.2.0"
chrono = { version = "0.4.42", default-features = false }
serde = { version = "1.0.228", default-features = false, features = ["derive", "alloc"] }
serde_json = "1.0.147"
toml = "0.9.8"
tokio-rusqlite = "0.6.0"
rusqlite = "0.32.1"
nullnet-liberror = { git = "https://github.com/NullNet-ai/libguard.git", branch = "nullnet-liberror-print" }
ipnetwork = { version = "0.21.1", features = ["serde"] }

[target.'cfg(not(target_os = "freebsd"))'.dependencies]
network-interface = "2.0.3"

[target.'cfg(target_os = "freebsd")'.dependencies]
nix = { version = "0.30.1", features = ["net"] }

[dev-dependencies]
serde_test = "1.0.177"
