[Unit]
Description=Nullnet client
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/nullnet-client
EnvironmentFile=/root/nullnet-client/.env
ExecStart=/root/nullnet-client/target/release/nullnet-client
Restart=always

[Install]
WantedBy=multi-user.target