[Unit]
Description=Nullnet client
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/%H/nullnet-client
EnvironmentFile=/home/%H/nullnet-client/.env
ExecStart=/home/%H/nullnet-client/target/release/nullnet-client
Restart=always

[Install]
WantedBy=multi-user.target