# copy this file in /etc/systemd/system:
#   sudo cp nullnet.service /etc/systemd/system/
# enable the service to start at boot:
#   sudo systemctl enable nullnet
# on Fedora, it was required the following command to make it work:
#   sudo setenforce 0

[Unit]
Description=TUN-based networking in Rust
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/%H/tun
ExecStart=/home/%H/tun/target/release/tun --log
Restart=always

[Install]
WantedBy=multi-user.target